#main {
  width: 75%;
}

#banner-image img {
  width: 100%;
  max-height: 260px;
}

.container {
  padding: 4em 0 2em 0;
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  /*color: #585858;*/
}

.container h1 {
  font-size: 45px;
  margin-bottom: 16px;
}

.separator {
  height: 1px;
  background: #c1c1c1;
  margin-bottom: 30px;
}
.page {
  margin-bottom:8px;

}
.box {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.wrapper:nth-child(odd) {
  background: rgba(234, 236, 237, 0.55);
}
.wrapper:nth-child(even) {
  background: #fff;
}

.about-table {
    border-collapse: collapse;
    border-style: hidden;
}

.about-table td, .about-table th {
    border: 1px solid #dddddd;
    padding: 16px 16px 16px 16px;
    text-align: center;
}


article.media {
    padding-left: 20px;
    margin-bottom: 60px;
}
article.media:before, article.media:after {
  content: " ";
  display: table;
}

article.media:after {
  clear: both;
}
.video-box {
  padding: 8px;
  text-align: center;
}
.media-description {
  float: left;
  margin-left: 16px;
}


.contact-card {
  margin-left: 20px;
}
